@model Biodata_Maker.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Data Display</title>
    <style>
        body {
            border: 2px solid black;
            font-size: 30px;
            padding: 10px;
        }

    </style>
</head>
<body>
    <table>
        <tr>
            <td><b>नाव</b></td>
            <td> : </td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td><b>जन्मदिनांक</b></td>
            <td> : </td>
            <td>@Model.UserDOB.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <td><b>जन्मठिकाण</b></td>
            <td> : </td>
            <td>@Model.BirthPlace</td>
        </tr>
        <tr>
            <td><b>ऊंची</b></td>
            <td> : </td>
            <td>@Model.Height</td>
        </tr>
        <tr>
            <td><b>वर्ण</b></td>
            <td> : </td>
            <td>@Model.Color</td>
        </tr>
        <tr>
            <td><b>रक्तगट</b></td>
            <td> : </td>
            <td>@Model.BloodGroup</td>
        </tr>
        <tr>
            <td><b>शिक्षण</b></td>
            <td> : </td>
            <td>@Model.Education</td>
        </tr>
        <tr>
            <td><b>नोकरी</b></td>
            <td> : </td>
            <td>@Model.Occupation</td>
        </tr>
        <tr>
            <td><b>वडिलांचे नाव</b></td>
            <td> : </td>
            <td>@Model.FatherName</td>
        </tr>
        <tr>
            <td><b>आईचे नाव</b></td>
            <td> : </td>
            <td>@Model.MotherName</td>
        </tr>
        <tr>
            <td><b>भाऊ</b></td>
            <td> : </td>
            <td>@Model.BrotherCount</td>
        </tr>
        <tr>
            <td><b>बहीण</b></td>
            <td> : </td>
            <td>@Model.SisterCount</td>
        </tr>
        <tr>
            <td><b>जात</b></td>
            <td> : </td>
            <td>@Model.Cast</td>
        </tr>
        <tr>
            <td><b>कुलदैवत</b></td>
            <td> : </td>
            <td>@Model.Kuladevata</td>
        </tr>
        <tr>
            <td><b>पत्ता</b></td>
            <td> : </td>
            <td>@Model.NativeAddress</td>
        </tr>
        <tr>
            <td><b>मोबाइल</b></td>
            <td> : </td>
            <td>@Model.MobileNumber</td>
        </tr>
    </table>
</body>
</html>